---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="نبذة عنا | About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 26 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		في انطلاقة، نؤمن بأن كل فكرة عظيمة تبدأ بخطوة صغيرة. نحن هنا لنساعدك على اتخاذ هذه الخطوة من خلال توفير الموارد والإرشادات التي تحتاجها لتحويل أفكارك إلى أعمال ناجحة. رؤيتنا هي تمكين رواد الأعمال في كل مكان لتحقيق طموحاتهم.


	</p>

	<p>
		At BizLaunch, we believe that every great idea starts with a small step. We’re here to help you take that step by providing the resources and guidance you need to turn your ideas into successful businesses. Our vision is to empower entrepreneurs everywhere to achieve their ambitions.







	</p>
</Layout>
